<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Files</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        {{!-- <link rel="stylesheet" href="/css/contextual.css"> --}}
        {{!-- <link rel="stylesheet" href="/css/contextual.theme.css"> --}}
        {{!-- <link href="/css/justcontext.css" rel="stylesheet"> --}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
        <link rel="stylesheet" type='text/css' href="/css/style.css">
    </head>
    <body>

        <div id="main-container" class="container">
            {{{body}}}
        </div>

        {{!-- <script id='jquery' src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> --}}
        <script src="/js/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {{!-- <script src="/js/contextual.js"></script> --}}
        {{!-- <script src="/js/justcontext.js"></script> --}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
        <script src="/js/custom.js"></script>
    </body>
</html>