<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Defiler</a>
    <div style="margin-top: 30px">
        <a class="btn btn-primary btn-lg active" href="/login">Login</a>
        <a class="btn btn-primary btn-lg active" href="/signup">Sign up</a>
    </div>

</nav>