.App {
  text-align: center;
  background-color: #f3f9fd;
}

.header {
  background-color: white;
  padding-left: 240px;
}

.formWrapper {
  display: flex;
  justify-content: center;
  height: calc(100vh - 50px);
  align-items: center;
}

.homePage {
  height: calc(100vh - 50px);
  margin-left: 200px;
}

.lguotButton {
  display: flex;
  align-items: center;
  margin: auto 0 auto auto;
}
